<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for(nombreuser of user;track $index){

      <ion-item>
        <ion-label>Nombre: {{nombreuser.nombre}}</ion-label>
        <p>Edad: {{nombreuser.edad}}</p>
      </ion-item>
    }
  </ion-list>
</ion-content>
